body{
    background-color: rgb(106, 255, 0);
}

h1 {
    background-color: bisque;
    color: blue;
}

#mySketch{
    font-size: 30px;
}

#confidence{
    font-size: 30px;
}

#topic{
    color: red;
    font-size: 20px;
}

#score{
    font-size: 30px;
    margin-left: -1350px;
}

#timer{
    font-size: 30px;
    margin-right:-1350px ;
}